<h1 id = "main_title">Random Reels</h1>

<button type="button" onclick="window.location.href = 'https://f9185fe333df4a349203c88969603497.vfs.cloud9.us-east-1.amazonaws.com/pages/new'" id = "start">START</button>

<img id = "tmdb_start" src = "<%= asset_path('blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648') %>"
    alt = "TMDB attribute">
    
<style>
    #tmdb_start {
        margin-top: 300px;
        margin-left: 400px;
        margin-right: 400px;
    }
</style>
