<h1 id = "main_title">Random Reels</h1>

<%= button_to "START", new_path, class: 'start' %>

<img id = "tmdb_start" src = "<%= asset_path('blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648') %>"
    alt = "TMDB attribute">
    
<style>
    #tmdb_start {
        margin-top: 30%;
        margin-left: 40%;
        margin-right: 40%;
    }
</style>
