<h1 id = "small_title">Random Reels</h1>
<h1 id = "movie_title">Avengers: Endgame (2019)</h1>

<div class = "caption">
    <img src = "<%= asset_path('avengers.jpg') %>" alt = "Movie Poster" style = "width:300px;height:400px;">
    <p id = "movie_desrip">
        Genre: Action, Adventure, Drama<br/>
        Rated: PG-13<br/>
        Length: 3 hrs 1 min
    </p>
</div>


<div>
    <button type = "button" onclick="window.location.href = 'https://f9185fe333df4a349203c88969603497.vfs.cloud9.us-east-1.amazonaws.com/pages/show'" id = "pick">Pick</button>
    <button type = "button" onclick="window.location.href = 'https://f9185fe333df4a349203c88969603497.vfs.cloud9.us-east-1.amazonaws.com/pages/new'" id = "like">More like this</button>
    <button type = "button" onclick="window.location.href = 'https://f9185fe333df4a349203c88969603497.vfs.cloud9.us-east-1.amazonaws.com/pages/new'" id = "dislike">Less like this</button>
    <button type = "button" onclick="window.location.href = 'https://f9185fe333df4a349203c88969603497.vfs.cloud9.us-east-1.amazonaws.com/pages/new'" id = "no">Not interested</button>
</div>

<div>
    <img id = "tmdb" src = "<%= asset_path('blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648') %>"
    alt = "TMDB attribute">
</div>

<style>
    body {
        background: #E6DEF3;
        margin: 20px;
    }
    
    div.caption {
        display: inline-block;
        margin-top: 30px;
        margin-left: 300px;
        float: left;
        text-align: left;
    }
    
    #movie_desrip {
        color: #282829;
        text-align: left;
    }
    
    #pick {
        font-size: 20px;
        border-radius: 5px;
        padding: 15px 120px;
        margin-right: 63%;
        margin-top: 30px;
        margin-left: 40px;
    }
    
    #like {
        font-size: 15px;
        border-radius: 5px;
        padding: 15px 20px;
        margin-top: 30px;
        margin-left: 40px;
        float: left;
    }
    
    #dislike {
        font-size: 15px;
        border-radius: 5px;
        padding: 15px 20px;
        margin-right: 63%;
        margin-left: 25px;
        float: left;
        margin-top: 30px;
    }
    
    #no {
        font-size: 20px;
        border-radius: 5px;
        padding: 15px 76px;
        margin-right: 63%;
        margin-top: 30px;
        margin-left: 40px;
        float: left;
    }
    
</style>