<h1 id = "small_title">Random Reels</h1>

<img src="<%= asset_path('avengers.jpg') %>" alt="Movie Poster">
<%= image_tag("avengers.jpg") %>

<style>
    body {
        background: #E6DEF3;
        text-align: left;
        vertical-align: top;
        margin: 20px;
    }
    
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }
</style>