<h1 id = "small_title">Random Reels</h1>
<h1 id = "movie_title">Avengers: Endgame (2019)</h1>

<div class = "caption">
    <img src = "<%= asset_path('avengers.jpg') %>" alt = "Movie Poster" style = "width:300px;height:400px;">
    <p id = "movie_desrip">Genre: Action, Adventure, Drama<br/>
        Rated: PG-13<br/>
        Length: 3 hrs 1 min</p>
</div>


<div>
    <button type = "button" id = "pick">Pick</button>
    <button type = "button" id = "like">More like this</button>
    <button type = "button" id = "dislike">Less like this</button>
    <button type = "button" id = "no">Not interested</button>
</div>

<style>
    body {
        background: #E6DEF3;
        margin: 20px;
    }
    
    div.caption {
        display: inline-block;
        margin-top: 30px;
        margin-left: 300px;
        float: left;
        text-align: left;
    }
    
    #movie_desrip {
    color: #282829;
    text-align: left;
    }
    
    #pick {
        font-size: 20px;
        border-radius: 5px;
        padding: 15px 120px;
        margin-right: 300px;
        margin-top: 30px;
        margin-left: 40px;
    }
    
    #like {
        font-size: 15px;
        border-radius: 5px;
        padding: 15px 20px;
        margin-top: 30px;
        margin-left: 40px;
    }
    
    #dislike {
        font-size: 15px;
        border-radius: 5px;
        padding: 15px 20px;
        margin-right: 300px;
        margin-left: 25px;
    }
    
    #no {
        font-size: 20px;
        border-radius: 5px;
        padding: 15px 76px;
        margin-right: 300px;
        margin-top: 35px;
        margin-left: 40px;
    }
    
</style>