// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    text-align: center;
    background-image: url("popcorn-background.png");
    margin: 100px;
}

h1 {
    font-size: 4em;
    color: #282829;
}

#start {
    font-size: 50px;
    color: white;
    background-color: #381F6F;
    border: solid black 2px;
    border-radius: 5px;
    padding: 50px 100px;
}
